<div class="container">


  <p id="notice"><%= notice %></p>

  <h2>Cocktails</h2>

    <%#= iteration begins %>
    <% @cocktails.each do |cocktail| %>

    <%#= card begins %>
    <div class="card" style="width: 18rem; display: inline-flex;">

      <%#= card image %>
      <img src="..." class="card-img-top" alt="...">
      <%#= card text %>

      <div class="card-body">
        <%#= card title %>
        <h5 class="card-title"><%= cocktail.name %></h5>
      </div>

      <%#= ingredients list begins %>
      <ul class="list-group list-group-flush">

        <%#= second iteration begins %>
        <% cocktail.doses.each do |dose| %>
          <%#= list item with dose description and ingredient %>
          <li class="list-group-item"> <%= dose.description %> <%= dose.ingredient.name %></li>
        <%#= end of dose iteration %>
        <% end %>

      </ul>

      <%#= card links %>
      <div class="card-body">
      <%#= link to more info %>
        <%= link_to 'More info', cocktail_path(cocktail.id) %>
      </div>

    </div>
    <%#= end of iteration %>
    <% end %>



  <br>

  <%= link_to 'New cocktail', new_cocktail_path %>


</div>



